.home-container {
    height: 100vh;
    align-items: center;
    padding-top: 33vh;
    .submit-movie-form {
        button {
            border: 1px solid lightgray;
            width: 100%;
        }
    }
    .field {
        height: 38px;
        .dropdown {
            width: 110px;
            border-left: none;
        }
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(34, 36, 38, 0.15);
        align-items: center;
        height: 100%;
        padding: 0 8px;
        background-color: lightgray;
        color: white;
        i {
            border: none;
        }
    }
    .dropdown:not(.button) > .default.text {
        color: white;
    }

    .genre-dropdown {
        border-radius: 0 3px 3px 0;
    }

    .add-movie-input {
        input {
            border-radius: 3px 0 0 3px !important;
        }
    }
}

.random-movie {
    margin-top: 16px;
    button {
        width: 170px;
    }
}

.messenger {
    font-family: monospace;
    font-size: 20px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    margin-bottom: 8px;
}

.messenger-container {
    padding-top: 8px;
    margin-top: 16px;
    border-radius: 3px;
    background: rgba(34, 34, 34, 0.85) !important;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    min-width: 290px;
}

.modal-animation {
    height: 200px;
    width: 200px;
    position: absolute;
    top: calc(50vh - 100px);
    left: 100%;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    background: -moz-linear-gradient(#ffffff, #e3e3e3);
    background: -webkit-linear-gradient(#ffffff, #e3e3e3);
    background: -o-linear-gradient(#ffffff, #e3e3e3);
    background: linear-gradient(#ffffff, #e3e3e3);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    border-radius: 15px;
}

.modal-1 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}

.modal-2 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}

.modal-3 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}
