.header {
    height: 100px;
    width: 100%;
    background-color: #f4f4f4;
    border-color: transparent;
    box-shadow: 0 0 10px #a0a0a0;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;

    svg {
        height: 50px;
        width: 50px;
        margin-right: 20px;
    }

    .header-text {
        font-size: 48px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.attribution {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.submit-movie-form {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .field {
        width: 100%;
        .dropdown {
            width: 100%;
            border: 1px solid silver;
            border-radius: 3px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 8px;
            i {
                border: none;
            }
            .menu {
                width: 100%;
            }
        }
    }
    .add-movie {
        width: 100%;
    }
    .modal-two-button {
        width: 50%;
    }
    .modal-button-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
.home-container {
    height: 100vh;
    align-items: center;
    justify-content: center;
    .field {
        height: 38px;
        .dropdown {
            width: 110px;
            border-left: none;
        }
    }

    .dropdown {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(34, 36, 38, 0.15);
        align-items: center;
        height: 100%;
        padding: 0 8px;
        background-color: lightgray;
        color: white;
        i {
            border: none;
        }
    }
    .dropdown:not(.button) > .default.text {
        color: white;
    }

    .genre-dropdown {
        border-radius: 0 3px 3px 0;
        width: 100%;
    }

    .add-movie-input {
        input {
            border-radius: 3px 0 0 3px !important;
        }
    }
}

.random-movie {
    margin-top: 16px;
    button {
        width: 170px;
    }
}

.messenger {
    font-family: monospace;
    font-size: 20px;
    white-space: nowrap;
    text-shadow: 0 2px 2px rgba(#000, 0.9);
    margin-bottom: 8px;
}

.messenger-container {
    padding-top: 8px;
    margin-top: 16px;
    border-radius: 3px;
    background: rgba(34, 34, 34, 0.85) !important;
    color: #f0f0f0;
    align-items: center;
    justify-content: center;
    min-width: 290px;
}

.modal-animation {
    height: 200px;
    width: 200px;
    position: absolute;
    top: calc(50vh - 100px);
    left: 100%;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
    background: -moz-linear-gradient(#ffffff, #e3e3e3);
    background: -webkit-linear-gradient(#ffffff, #e3e3e3);
    background: -o-linear-gradient(#ffffff, #e3e3e3);
    background: linear-gradient(#ffffff, #e3e3e3);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    border-radius: 15px;
}

.modal-1 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}

.modal-2 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}

.modal-3 {
    &.move-center {
        transform: translateX(calc(-50vw - 100px));
    }
    &.move-left {
        transform: translateX(calc(-100vw - 300px));
    }
}

.enter-movie-modal {
    height: 40vh !important;
    width: 55vh !important;
    max-width: 98vw;
}

.movie-info {
    display: flex;
    height: 100%;
    width: 100%;

    .text {
        padding-left: 20px;
        display: flex;
        flex-direction: column;

        .title-container {
            margin-bottom: 12px;
            .title {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }

        .overview {
            font-size: 14px;
            overflow-y: auto;
            flex-grow: 1;
        }

        .icons {
            display: flex;
            justify-content: flex-end;

            .random {
                margin: 0 12px 0 0 !important;
                padding: 0 !important;
                background: none !important;
            }
        }
    }
}

.modal-content {
    padding: 20px;
    height: 100%;
    .close-icon {
        position: absolute;
        top: -24px;
        right: -27px;
        cursor: pointer;
        color: white;
        font-size: 20px;
    }
}

.form-content {
    width: 100%;
}

.form-content-two {
    display: flex;
    flex-direction: column;
    width: 100%;
    button {
        margin: 4px 0 !important;
    }
}

.movie-poster {
    height: 100%;
    width: 150px;
}

.search-dropdown {
    .divider {
        margin-left: 12px;
    }
}

.add-button {
    width: auto !important;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px !important;

    i {
        height: 100%;
        display: inline-flex;
        align-items: center;
        padding-bottom: 2px;
    }
}
